<ion-header>
  <ion-toolbar color="primary">
    <ion-title>My Movie Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)"></ion-searchbar>

  <ion-item>
    <ion-label>Select SearchType</ion-label>
    <ion-select [(ngModel)]="type" (ionChange)="searchChanged($event)">
      <ion-select-option value="">All</ion-select-option>
      <ion-select-option value="movie">Movie</ion-select-option>
      <ion-select-option value="tv">Series</ion-select-option>
    </ion-select>
  </ion-item>
  -->
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)"></ion-searchbar>
  
  <ion-list>
 
    <ion-item button *ngFor="let item of (results2 | async)" [routerLink]="['/', 'tabs/tab1', item.results.id]">
      <ion-avatar slot="start">
        <img [src]="results.results.poster_path" *ngIf="results.results.poster_path != 'N/A'">
      </ion-avatar>
 
      <ion-label text-wrap>
        <h3>{{ item.results.original_name }}</h3>
        {{ item.results.release_date }}
      </ion-label>
 
      <ion-icon slot="end" *ngIf="results.results.media_type == 'movie'" name="videocam"></ion-icon>
      <ion-icon slot="end" *ngIf="results.results.media_type == 'tv'" name="tv"></ion-icon>
 
    </ion-item>
 
  </ion-list>
 
</ion-content>
